.carousel {
    @include clearfix;
    list-style: none;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;

    .control-btn {
        border: 1px solid $light-grey;
    }
}

.carousel__slide {
    float: left;

    a, img {
        height: inherit;
        width: inherit;
    }

    a {
        display: block;
    }

    img {
        border: 1px solid $image-border-colour;
    }
}


.control-btn {
    @include hide-text;
    display: block;
    width: 30px;
    height: 37px;
    margin: 62px 0;
    position: absolute;
    z-index: 10;
}
.control-btn--prev {
    left: 16%;
    background: transparent url(../img/control_prev.png) no-repeat -31px -1px;
}
.control-btn--next {
    left: 54.3%;
    background: transparent url(../img/control_next.png) no-repeat -1px -1px;
}