.form {
    @include clearfix;
    border-radius: 8px;

    @include media($tablet) {

        margin: em(20px) em(40px);
        padding: em(15px);

    }
}

.form--fieldset {
    border: 0;
    padding: em(15px) em(10px);
}

.form--label,
.form--input {
    padding: 7px 0;
}

.form--label {
    @include fill-parent;

    @include media($tablet) {

        @include span-columns(2.5 of 8.5);

    }
}

.form--input {
    @include fill-parent;
    margin-top: 5px;

    @include media($tablet) {

        @include span-columns(6 of 8.5);
        @include omega;
        margin-top: 0;

    }

    color: $black-coffee;
    @include placeholder {
        color: #907c6b;
    }
    background: $tea;
    border: 2px solid $border-colour;
    border-radius: 5px;
    padding: {
        left: 10px;
        right: 10px;
    }

    &:focus {
        background: $form-input-bg-colour;
    }
}
.form--textarea {
    height: 200px;
}
