.header {
    @include span-columns(12);
    @include omega;
    @include clearfix;
    background: $mobile-header-bg-colour;

    @include media($tablet) {

        background: $header-bg-colour;
        @include background-image(linear-gradient(90deg, transparent 79px, #ffdae0 79px, transparent 80px, #ffdae0 81px, transparent 81px),
                                    linear-gradient(#d5f2ed .1em, transparent .1em));
        background-size: 100% 1.2em;

    }

    @include media($desktop) {

        background: transparent url(../img/header.png) no-repeat 90% 50%;
        height: 258px;

    }
}

.menu__icon {
    @include hide-text;
    display: inline-block;
    background: {
        image: url(../img/ic_menu_white_24dp.png);
        color: transparent;
        position: 50% 75%;
    }
    border: 0;
    $size: 32px;
    width: $size;
    height: $size;
    margin: 10px 15px 0px 10px;

    @include media($tablet) {

        display: none;

    }
}

.header__logo {
    @include clearfix;
    @include hide-text;
    display: inline-block;
    background: url(../img/kopijunkie.png) no-repeat;
    background-size: 139px 40px;
    width: 139px;
    height: 40px;
    margin: {
        top: 3px;
        bottom: 5px;
        left: em(10px);
    }


    @include media($tablet) {

        display: block;
        background-size: 350px 84px;
        width: 350px;
        height: 84px;
        margin: {
            top: 10px;
            left: em(20px);
        }

    }

    @include media($desktop) {

        background-image: none;

    }
}

.header__subsection {
    display: none;

    @include media($tablet) {

        @include clearfix;
        display: block;
        margin-top: 100px;
        padding-bottom: 15px;
        border-bottom: 1px solid $border-colour;
        box-shadow: 3px 3px 10px rgba(0,0,0,0.45);

    }

    @include media($desktop) {

        margin-top: 175px;
        box-shadow: none;
        border: none;

    }
}
.header__tagline {
    padding: 10px em(40px);
    margin-left: em(50px);
    color: $tagline-text-colour;
    font-size: rem(17px);
    line-height: 2;

    @include media($desktop) {

        background: white;
        opacity: 0.55;
        line-height: 1;

    }
}
