.filter-list__item {
    @include media($tablet) {
        font-family: "Marvel", sans-serif;
    }
    border-right: 1px solid $light-grey;
    padding: 0 20px;

    &:last-child {
        border-right: none;
    }

    a, a:visited {
        color: $list-filter-link-colour;
    }
    a {
        font-size: rem(18px);
        letter-spacing: 3px;

        &:hover {
            text-decoration: underline;
        }
    }
    &.active a {
        color: $list-filter-link-active-colour;
        text-decoration: underline;
    }
}
