.filter-list {
    margin-bottom: em(15px);
}

.filter-list__item {
    @include media($tablet) {
        border-right: 1px solid $light-grey;
        line-height: 2em;

        &:first-child,
        &:last-child {
            border-right: none;
        }
    }
    padding: 0 20px;

    a, a:visited {
        color: $list-filter-link-colour;
    }
    a {
        font-size: rem(18px);
        letter-spacing: 3px;

        &:hover {
            text-decoration: underline;
        }
    }
    &.active a {
        color: $list-filter-link-active-colour;
        text-decoration: underline;
    }
}
