.nav-menu {
    @include span-columns(12);
    height: 45px;

    @include media($desktop) {

        @include shift(3 of 12);
        @include span-columns(8 of 12);
        height: auto;

    }

    @include omega;
    background: $nav-bg-colour;
    padding: 0 em(10px);
    box-shadow: 3px 3px 10px rgba(0,0,0,0.45);
}


.nav-menu__icon {
    display: inline-block;
    background: {
        image: url(../img/ic_menu_white_24dp.png);
        color: transparent;
        position: 50% 75%;
    }
    border: 0;
    @include hide-text;
    $size: 32px;
    width: $size;
    height: $size;

    @include media($tablet) {

        display: none;

    }
}

.header__logo--mobile {
    @include hide-text;
    display: inline-block;
    margin: {
        top: 0;
        left: 15px;
    }
    height: 40px;
    background: url(../img/kopijunkie.png) no-repeat 50% 2px;
    background-size: 139px 40px;

    @include media($tablet) {

        display: none;

    }
}


.nav-menu__list {
    display: none;

    @include media($tablet) {

        display: block;

    }
}

.nav-menu__item {
    padding: {
        left: em(15px);
        right: em(15px);
    }
    border: {
        top: 6px solid $nav-bg-colour;
        bottom: 5px solid $nav-bg-colour;
    }
    &:hover,
    &.active {
        border-bottom: 5px solid $nav-link-active-colour;
    }
    &:hover {
        cursor: pointer;

        a { color: $nav-link-hover-colour; }
    }
    a {
        font-weight: bold;
        font-size: rem(18px);
        line-height: 1.2em;
        letter-spacing: 5px;
        color: $nav-link-colour;
        text-shadow: 0 1px 1px black;

        &:hover { color: $nav-link-hover-colour; }
    }
}
