.nav-menu {
    @include span-columns(12);
    height: 45px;
    display: none;

    @include media($desktop) {

        @include shift(3 of 12);
        @include span-columns(8 of 12);
        height: auto;

    }

    @include media($tablet) {
        background: $nav-bg-colour;
    }

    padding: 0 em(10px);
    box-shadow: 3px 3px 10px rgba(0,0,0,0.45);
}

.nav-menu__list {
    position: absolute;
    width: 100%;
    left: 0;
    top: 45px;

    @include media($tablet) {

        display: block;
        position: relative;
        left: auto;
        top: auto;
        border-top: none;

    }
}

.nav-menu__item {
    padding: {
        left: em(15px);
        right: em(15px);
    }

    height: 50px;
    background: $nav-bg-colour;
    border-bottom: 1px solid white;

    &:last-child {
        border-bottom: none;
    }

    @include media($tablet) {

        height: auto;
        border: {
            top: 6px solid $nav-bg-colour;
            bottom: 5px solid $nav-bg-colour;
        }

    }

    &:hover,
    &.active {
        border-bottom: 5px solid $nav-link-active-colour;
    }
    &:hover { cursor: pointer; }
    &:hover a,
    a:hover {
        color: $nav-link-hover-colour;
    }
    &.active a {
        color: $nav-link-active-colour;
    }
    a {
        font-weight: bold;
        font-size: rem(18px);
        line-height: 1.2em;
        letter-spacing: 5px;
        color: $nav-link-colour;
        text-shadow: 0 1px 1px black;
        text-decoration: none;
    }
}

.nav-menu__link {
    display: block;
}
