.nav-menu {
    @include span-columns(12);

    @include media($desktop) {

        @include shift(3 of 12);
        @include span-columns(8 of 12);

    }

    @include omega;
    background: $nav-bg-colour;
    padding: 0 em(10px);
    box-shadow: 3px 3px 10px rgba(0,0,0,0.45);
}


.nav-menu__trigger,
.nav-menu__icon {
    $size: 32px;
    width: $size;
    height: $size;
}

.nav-menu__trigger {
    display: inline-block;

    @include media($tablet) {

        display: none;

    }
}

.header__logo--mobile {
    display: inline-block;
    margin: 0 {
        top: 5px;
    }
    height: 32px;
    @include hide-text;
    background: url(../img/kopijunkie.png) no-repeat;
    background-size: 127px 32px;

    @include media($tablet) {

        display: none;

    }
}


.nav-menu__list {
    display: none;

    @include media($tablet) {

        display: block;

    }
}

.nav-menu__item {
    border: {
        top: 6px solid $nav-bg-colour;
        bottom: 5px solid $nav-bg-colour;
    }

    padding: {
        left: em(15px);
        right: em(15px);
    }

    &.active {
        border-bottom: 5px solid $nav-link-active-colour;
    }
}

.nav-menu__link {
    font-weight: bold;
    font-size: rem(18px);
    line-height: 1.2em;
    letter-spacing: 5px;
    color: $nav-link-colour;
    text-shadow: 0 1px 1px black;

    &:hover {
        color: $nav-link-hover-colour;
    }

}
