.sidebar {
    display: none;
    font-size: rem(14px);

    @include media($tablet) {

        @include span-columns(3.5);
        @include omega;

        padding: {
            right: em(27px);
            bottom: em(20px);
        }

    }
}

.twitter-timeline {
    height: 350px;
}