.social-media {
    padding-top: 12px;
    margin-right: em(15px);
    font-size: rem(13px);

    @include media($desktop) {

        padding-top: 0;

    }
}

.social-media__action {
    color: $primary-heading-colour;
    font-weight: bold;
}

$icon-size: 32px;
.social-media__icon {
    display: inline-block;
    height: $icon-size;
    width: $icon-size;
    border-radius: $icon-size;
    margin-right: 10px;
}
.icon-codepen {
    background: white url(../img/codepen-btn.png) no-repeat;
}
.icon-twitter {
    background: #36a6ee url(../img/twitter-btn.png) no-repeat;
}
.icon-lastfm {
    background: #d30319 url(../img/lastfm-btn.png) no-repeat;
}

.social-media__list {
    padding-top: 7px;

    @include media($desktop) {

        padding-top: 0;

    }
}
.social-media__link {
    display: inline-block;
    text-decoration: none;
    color: $link-colour;
    vertical-align: top;
    line-height: rem($icon-size);
    height: $icon-size;

    &:visited {
        color: $link-visited-colour;
    }

    &:hover {
        color: $link-hover-colour;
    }
}