---
title: About
heading: About KopiJunkie
---
<h1>{{ heading }}</h1>

<p>My name's <strong>Kimmi</strong>. I build web sites and apps for desktops and mobile.</p>

<p>I like to create engaging web sites, apps with interesting user interfaces using modern web technologies. Having completed a Computer Science conversion course, I also do back end development now. I also enjoy doing some graphics razzle dazzle on the side with an emphasis on simple, clean looks.</p>

<p>My first web site was on Geocities back in the 90s, made on a Windows PC using Notepad to write the HTML, styling and Paint to make very basic graphics complete with autoplaying MIDI sound file and a blinking, scrolling marquee. Basically everything a web site should be <strong>plus</strong> everything it shouldn't be. But don't worry, I'm wiser now having more experience developing web sites since then, first as a hobby then as my day-to-day job. Definitely way past that phase now and I know better than to develop something tacky.</p>

<h2>About This Web Site</h2>

<p><strong>{{site.title}}</strong> in its current incarnation was developed on <strong>Sublime Text 3</strong> using the following front end technologies:</p>

<ul>
    <li>Static Site Generator: Assemble</li>
    <li>Automated JavaScript Task Runner: Grunt</li>
    <li>Front End Dependencies Manager: Bower</li>
    <li>CSS Preprocessor: Sass
        <ul>
            <li>Sass Mixin Library: Bourbon</li>
            <li>Responsive Grid Framework: Neat</li>
        </ul>
    </li>
</ul>

<p>All images, aside from the social media icons, were created or manipulated on a healthy mix of <strong>Photoshop</strong>, <strong>GIMP</strong> and <strong>Inkscape</strong>.</p>

<h2>What is a "KopiJunkie"?</h2>

<p><strong>KopiJunkie</strong> is my identity online. It's my "name" in the online, social media world as I thought just using my name is kinda boring. I also chose it as I figured it was unique enough in the online world being a mix of Malay and English words that describe me: &ldquo;Kopi&rdquo; and &ldquo;Junkie&rdquo;, i.e. a coffee addict.</p>

<blockquote class="blockquote blockquote--bordered">
    <dl>
        <dt class="definition-list__title">
            Kopi /koh&middot;pee, &lsquo;kopiː/ noun [Mal. &larr; Eng. coffee]
        </dt>
        <dd>
            Coffee, esp. with milk and sugar, or sweetened condensed milk. (<a href="http://www.mysmu.edu/faculty/jacklee/singlish_K.htm" title="'Kopi' definition source">Source</a>)
        </dd>
        <dt class="definition-list__title">
            Junkie /junk&middot;ie &lsquo;jəŋ&mdash;kē:/ noun, pl. junk&middot;ies Informal
        </dt>
        <dd>
            A person with an insatiable craving for something &mdash; namely coffee and web development in my case. (<a href="http://www.thefreedictionary.com/junkie" title="'Junkie' definition source">Source</a>)
        </dd>
    </dl>
</blockquote>

<h2>More About Me</h2>

<p>Still want to know more? I'm a Malaysian girl geek and front end developer currently based in London. I did a Computer Science masters degree at the <a href="http://www.bristol.ac.uk/" target="_blank">University of Bristol</a> and used to work in Singapore handling corporate events and conference services at a 5-star hotel until I decided that I wanted to build web sites for a living, not just as a hobby. Before my first working life, I studied at <a href="http://www.monash.edu.au/" target="_blank">Monash University</a>, Australia majoring in Mass Communication. (Yes, I've been around quite a bit!)</p>

<p>I have a strong interest in using digital technology to deliver media and information to the masses. Front end development is the perfect fit for my interest in bringing mass media (what I studied previously) and technology (my current skill set) together.</p>

<p>Right now I'm a Front End Developer working on a visual analytics web app product at <a href="http://www.cube19.com" target="_blank">cube19</a>. Previously I was at a digital agency, <a href="http://www.vexeddigital.com/" target="_blank">Vexed Digital</a> (now known as <a href="http://www.futureplatforms.com/" target="_blank">Future Platforms</a>) making web sites and apps for a variety of clients including Domino's Pizza and the De Vere Group.</p>

<p>When I'm not busy being a geek, I like to kick back with a good book, comic, or movie or play video games. I also play football (or "soccer" to some) with Old Actonians LFC. While at university in Bristol, <a href="http://www.intuition-online.co.uk/profile.php?profile=205" target="_blank">a gig review I wrote</a> was published on <a href="http://www.intuition-online.co.uk/index.php" target="_blank">Intuition</a>, an online student lifestyle and culture magazine. These days I prefer to just enjoy a music gig rather than pick it apart for a review. Occasionally, I sketch stuff of a cartoon-ish nature for the fun of it like the "self caricature" pencil sketch.</p>

<p>For a more detailed description of my skills and work experience, head over to <a href="http://uk.linkedin.com/pub/kimmi-gan/4/50b/b27" target="_blank">my LinkedIn profile</a>.</p>