---
title: About
heading: "Hi! I'm Kimmi and I'm a coffee junkie who loves building web sites and apps."
lead: Welcome to my home on the interwebz.
---
<h2>About KopiJunkie</h2>

<p>My name's <strong>Kimmi Gan</strong>. Welcome to <strong>{{site.title}}</strong> - my online home.</p>

<p>I've always loved experimenting with web technologies. Still do.</p>

<p>I like to create cool and engaging web sites, apps and user interfaces using modern web technologies. Having completed a Computer Science conversion course, I meddle with back end development too now. I also enjoy doing some graphics razzle dazzle on the side. Though currently, I'm more interested in visualisations like timelines and 3D text using just HTML and CSS instead. These days I also build mobile web apps.</p>

<p>I made my first web site on Geocities back in the 90s using MS Notepad (HTML coding) and MS Paint (very basic graphics) complete with autoplaying MIDI sound file and a blinking, scrolling marquee. Basically everything a web site should be <strong>plus</strong> everything it shouldn't be. But don't worry, I'm wiser now having made other web sites as voluntary work or for fun over the years. Definitely way past that phase now and I know better than to develop something tacky.</p>

<h2>About This Site</h2>

<p>This site in its current incarnation was developed completely using modern front end technologies, specifically:</p>

<ul>
    <li>Yeoman's Assemble generator</li>
    <li>Grunt</li>
    <li>Bower</li>
    <li>Bourbon with Neat</li>
</ul>

<p>Images were created, manipulated and butchered (just kidding) on a healthy mix of <strong>Photoshop</strong>, <strong>GIMP</strong> and <strong>Inkscape</strong>.</p>


<h2>More About Me</h2>

<p>I'm a Malaysian girl geek currently based in London after completing a masters degree at the <a href="http://www.bristol.ac.uk/" target="_blank">University of Bristol</a>. I used to work in Singapore handling corporate events and conference services in a 5-star hotel before venturing back to university to learn about the science of computers. Before working life, I studied at <a href="http://www.monash.edu.au/" target="_blank">Monash University</a>, Australia majoring in Mass Communication. (Yes, I've been around quite a bit!)</p>

<p>I have a strong interest in digital media technology. Or rather how digital technology can be used to deliver media and information. Web development, specifically front end development, was the perfect fit for my interest in bringing mass media (what I studied previously) and technology (my current skill set) together.</p>

<p>Right now, I'm a Front End Developer at a tech startup, <a href="http://www.cube19.com" target="_blank">cube19</a>, working on a visual analytics web app product. Previously I was at a digital agency, <a href="http://www.vexeddigital.com/" target="_blank">Vexed Digital</a> (now known as <a href="http://www.futureplatforms.com/" target="_blank">Future Platforms</a>) making web sites and apps for a variety of clients including Domino's Pizza and De Vere Group.</p>

<p>When I'm not busy being a geek, I like to kick back with a good book, comic, movie or play some video games. I also love music and football (or "soccer" to some). While at the University of Bristol, <a href="http://www.intuition-online.co.uk/profile.php?profile=205" target="_blank">a gig review I wrote</a> was published on <a href="http://www.intuition-online.co.uk/index.php" target="_blank">Intuition</a>, an online student lifestyle and culture magazine. These days I prefer to just enjoy a music gig rather than pick it apart for a review. Occasionally, I sketch stuff of a cartoon-ish nature for the fun of it. The pencil sketch above in the right sidebar is a "self caricature". Someone once approached me at a gig and said they recognised me from my sketch...guess my sketch is pretty true to self.</p>

<p>For a more detailed description of my skills and work experience, please <a href="http://uk.linkedin.com/pub/kimmi-gan/4/50b/b27" target="_blank">see my LinkedIn profile</a>.</p>