---
title: Home
heading: "Hi! I'm Kimmi and I'm a coffee junkie who loves building web sites and apps."
lead: Welcome to my home on the interwebz.
---
<section>
    <h2>{{ heading }}</h2>

    <h3>{{ lead }}</h3>

    <p>
    I'm a girl geek who loves to build web sites that aren't made up of tag soup, create user interfaces using modern web technologies. I also dabble with graphics design at times.
    </p>

    <p>
    Basically, I'm passionate about web technologies and have a keen interest in arts and social sciences topics alongside technology stuff. To me, web technologies are a way for arts and technology to come together to create cool user experiences online. <strong>KopiJunkie.net</strong> is both my personal website/portfolio and front end web technologies playground.
    </p>

    <p><strong>Want to know more about me?</strong>
    <a href="about.html">Learn more &raquo;</a></p>
</section>
