---
component: contact-form
---
<form id="ajax_form" action="contact.php" method="POST">
    <p><label for="name">Name</label>
    <input id="name" class="text_input clear" name="name" type="text" value="Your Name" /></p>

    <p><label for="email">Email</label>
    <input id="email" class="text_input clear" name="email" type="text" value="Your Email" /></p>

     <p id="comments"><label for="message">Message</label><textarea id="message" name="message"></textarea></p>

    <p><label for="spam">What's 5 + 2?</label>
    <input id="spam" class="text_input clear" name="spam" type="text"  /></p>

    <p><input id="submit" name="submit" type="submit" value="Send" /></p>
</form>