---
component: contact-form
---
<form id="contact-form" class="form form--bordered" action="contact.php" method="POST">
    <fieldset class="form__fieldset">
        <label class="form__label" for="name">Name</label>
        <input type="text" placeholder="Your name" maxlength="40"
            class="form__input" id="name" name="name" required />
        <span class="error-msg" id="name-required">Name required.</span>
    </fieldset>


    <fieldset class="form__fieldset">
        <label class="form__label" for="email">Email</label>
        <input type="email" class="form__input" id="email" name="email"
            pattern="/^([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})$/" placeholder="Your email" required />
        <span class="error-msg" id="email-required">Email required.</span>
        <span class="error-msg" id="email-error">Invalid email.</span>
    </fieldset>

    <fieldset class="form__fieldset">
        <label class="form__label" for="message">Message</label>
        <textarea class="form__input form__textarea" placeholder="Your message"
            required id="message" name="message" ></textarea>
        <span class="error-msg" id="message-required">Message required.</span>
    </fieldset>

    <fieldset class="form__fieldset">
        <label class="form__label" for="spam-check">What's 5 + 2?</label>
        <input type="number" placeholder="The answer is..." class="form__input"
            id="spam-check" name="spam-check" required />
        <span class="error-msg" id="spam-check-required">Answer required.</span>
        <span class="error-msg" id="spam-check-error">Sorry, wrong answer.</span>
    </fieldset>

    <fieldset class="form__fieldset right">
        <input type="reset" class="button button--reset" id="reset" value="Reset" />
        <input type="submit" class="button button--submit" id="send" value="Send" />
    </fieldset>
</form>