---
component: contact-form
---
<form id="contact-form" class="form form__bordered contact-form" action="contact.php" method="POST">
    <fieldset class="form--fieldset">
        <label class="form--label" for="name">Name</label>
        <input type="text" class="form--input" name="name" placeholder="Your name" />
    </fieldset>

    <fieldset class="form--fieldset">
        <label class="form--label" for="email">Email</label>
        <input type="text" class="form--input" name="email" placeholder="Your email" />
    </fieldset>

    <fieldset class="form--fieldset">
        <label class="form--label" for="message">Message</label>
        <textarea class="form--input form--textarea" name="message" placeholder="Your message"></textarea>
    </fieldset>

    <fieldset class="form--fieldset">
        <label class="form--label" for="spam">What's 5 + 2?</label>
        <input type="text" class="form--input" name="spam" placeholder="The answer is..." />
    </fieldset>

    <input type="submit" class="button right" id="submit-form" value="Send" />
</form>