---
component: header
---
<div id="header">
    <div id="logo">
        <h1><a href="{{site.url}}">KopiJunkie</a></h1>
    </div>

    <div class="clearBoth"></div>

    <div id="tagline">
        <h3>The online home of a web developing coffee junkie</h3>
    </div>

    <div id="socialm">
        <h3>Follow Me On</h3>

        <ul id="follow">
            <li id="codepen">
                <a href="http://codepen.io/kopijunkie/" target="_blank">Codepen</a>
            </li>
            <li id="twitter">
                <a href="http://www.twitter.com/kopijunkie" target="_blank">Twitter</a>
            </li>
            <li id="lastfm">
                <a href="http://www.last.fm/user/KopiJunkie" target="_blank">Last.fm</a>
            </li>
        </ul>
    </div><!-- end #socialm -->

    <div class="clearBoth"></div>

    <ul id="navbar">
        <li><a href="http://kopijunkie.net/">Home</a></li>
        <li><a href="about.php">About</a></li>
        <li><a href="portfolio.php">Portfolio</a></li>
        <li><a href="blog">Blog</a></li>
        <li><a href="contact-me.php">Contact</a></li>
    </ul><!-- end #navbar -->

    <div class="clearBoth"></div>
</div><!-- end #header -->