---
component: header
---
<header class="header">
    <h1 class="header--logo"><a href="{{site.url}}">KopiJunkie</a></h1>

    <div class="container">
        <h2 class="header--tagline left">The online home of a web developing coffee junkie</h2>

        {{> social-media }}
    </div>

    {{> nav-menu }}
</header>