---
component: header
---
<header class="header" role="banner">
    <h1 class="header__logo left"><a href="{{site.url}}">KopiJunkie</a></h1>

    <button id="mobile-menu-toggle" class="menu__icon icon icon-ic_menu_white_24dp right"
        role="tab" aria-expanded="false">Show navigation</button>
    {{!-- <h1 class="header__logo--mobile" role="banner">KopiJunkie</h1> --}}

    <div class="header__subsection">
        <h2 class="header__tagline left">
            The online home of a web developing coffee junkie
        </h2>

        {{> social-media }}
    </div>
</header>