---
component: header
---
<div class="header">
    <h1 class="header--logo"><a href="{{site.url}}">KopiJunkie</a></h1>

    <h2 class="header--tagline">The online home of a web developing coffee junkie</h2>

    <section class="social-media social-media--horizontal right">
        <h3>Follow Me On</h3>

        <ul class="social-links-list">
            <li class="social-links-list__item social-links-list__item--codepen">
                <a href="{{social.codepen}}" target="_blank">Codepen</a>
            </li>
            <li class="social-links-list__item social-links-list__item--twitter">
                <a href="{{social.twitter}}" target="_blank">Twitter</a>
            </li>
            <li class="social-links-list__item social-links-list__item--lastfm">
                <a href="{{social.lastfm}}" target="_blank">Last.fm</a>
            </li>
        </ul>
    </section>

    <nav>
        <ul class="nav-menu nav-menu--horizontal" role="navigation">
            <li class="nav-menu__item">
                <a href="index.html">Home</a>
            </li>
            <li class="nav-menu__item">
                <a href="about.html">About</a>
            </li>
            <li class="nav-menu__item">
                <a href="portfolio.html">Portfolio</a>
            </li>
            <li class="nav-menu__item">
                <a href="blog.html">Blog</a>
            </li>
            <li class="nav-menu__item">
                <a href="contact.html">Contact</a>
            </li>
        </ul>
    </nav>

    <div class="clear-both"></div>
</div>