---
component: header
---
<header class="header" role="banner">
    <h1 class="header__logo"><a href="{{site.url}}">KopiJunkie</a></h1>

    <div class="header__subsection">
        <h2 class="header__tagline left">The online home of a web developing coffee junkie</h2>

        {{> social-media }}
    </div>
</header>