---
component: nav-menu
---
<nav class="nav-menu">

    <button id="mobile-menu-toggle" class="nav-menu__icon icon icon-ic_menu_white_24dp"
        role="tab" aria-expanded="false">Show navigation</button>

    <h1 class="header__logo--mobile" role="banner">KopiJunkie</h1>

    <ul id="mobile-nav-menu" class="nav-menu__list list--no-bullets" role="navigation">
        <li class="nav-menu__item list__item list__item--horizontal">
            <a href="index.html" class="nav-menu__link">Home</a>
        </li>
        <li class="nav-menu__item list__item list__item--horizontal">
            <a href="about.html" class="nav-menu__link">About</a>
        </li>
        <li class="nav-menu__item list__item list__item--horizontal">
            <a href="work.html" class="nav-menu__link">Work</a>
        </li>
        <li class="nav-menu__item list__item list__item--horizontal">
            <a href="blog.html" class="nav-menu__link">Blog</a>
            {{!-- <a href="/blog" class="nav-menu__link">Blog</a> --}}
        </li>
        <li class="nav-menu__item list__item list__item--horizontal">
            <a href="contact.html" class="nav-menu__link">Contact</a>
        </li>
    </ul>
</nav>
