---
component: sidebar
---
<h3 class="sidebar--heading">Who Am I?</h3>

<section class="sidebar--about">
    <img class="sidebar--picture"
            src="{{assets}}/img/avatar.jpg"
            alt="Pencil caricature sketch of myself" title="That's me!" />
    <p>
        I'm Kimmi Gan. A Front End Developer by trade. This is my personal website, blog and digital playground for all things web techy.
    </p>
</section>

<section class="twitter">
    <h3 class="twitter--heading">Coffee Fueled Thoughts</h3>

    <div id="timeline-container" class="twitter--feed">
        <a class="twitter-timeline"
            data-dnt=true href="{{social.twitter}}"
            data-theme="light"
            data-widget-id="257130426198532097">Tweets by @kopijunkie</a>
        <script>
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        </script>
    </div>
</section>