---
component: social-media
---
<section class="social-media right">
    <span class="social-media__action">Follow Me On</span>

    <ul class="social-media__list list--no-bullets">
        <li class="list__item list__item--horizontal">
            <a class="social-media__link" href="{{social.codepen}}" title="Codepen" target="_blank">
                <i class="social-media__icon icon-codepen"></i>Codepen
            </a>
        </li>
        <li class="list__item list__item--horizontal">
            <a class="social-media__link" href="{{social.twitter}}" title="Twitter" target="_blank">
                <i class="social-media__icon icon-twitter"></i>Twitter
            </a>
        </li>
        <li class="list__item list__item--horizontal">
            <a class="social-media__link" href="{{social.lastfm}}" title="Last.fm" target="_blank">
                <i class="social-media__icon icon-lastfm"></i>Last.fm
            </a>
        </li>
    </ul>
</section>