$preview-height: 160px;
$preview-width: 478px;
$mobile-preview-width: 260px;

.portfolio-list {

    .preview {
        display: block;
        margin: 0 auto;
        width: $mobile-preview-width;
        height: auto;

        @include media($tablet) {

            width: $preview-width;
            height: $preview-height;

        }

        img {
            width: $mobile-preview-width;
            height: auto;

            @include media($tablet) {

                width: $preview-width;
                height: $preview-height;

            }
        }
    }

    .carousel {
        width: $mobile-preview-width;
        margin: 0 auto;
        padding: 5px;
        background: $image-border-colour;
        border-radius: 5px;

        @include media($tablet) {

            width: $preview-width;

        }
    }

}

.portfolio-list__item {
    padding: 10px;
    margin-bottom: 10px;
    background: lighten($light-grey, 20%);
    border-radius: 10px;

    a {
        color: $portfolio-link-colour;

        &:hover {
            color: $portfolio-link-hover-colour;
            text-shadow: 1px 1px 2px #0D4242;
        }
    }

    .work-done-at {
        display: block;
    }
}

.portfolio-list__image {

    height: auto;
    width: $mobile-preview-width;

    @include media($tablet) {

        height: $preview-height;
        width: $preview-width;

    }

    border: 1px solid $image-border-colour;
    box-shadow: 1px 2px 3px $image-box-shadow;
}


.portfolio-links-list {
    padding: 10px;
}

 @include media($tablet) {

    .portfolio-links-list__item {

        &:after {
            content: "|";
            padding: 0 5px;
        }

        &:last-child:after {
            content: none;
        }
    }

}

.work-done {
    padding-left: 20px;

    @include media($tablet) {

        padding-left: 30px;

    }
}


.appstore-badge {
    padding-left: 15px;
}


// Slick.js carousel style overrides
.slick-prev,
.slick-next {
    width: 30px;
    height: 37px;
    border: 1px solid darken($image-border-colour, 5%);
    box-shadow: 1px 2px 3px $image-box-shadow;

    &:before {
        content: "";
    }
}
.slick-prev {
    background: transparent url(../img/control_prev.png) no-repeat -30px 0px;

    &:hover {
        border: 1px solid white;
        background: transparent url(../img/control_prev.png) no-repeat 0px 0px;
    }
}
.slick-next {
    background: transparent url(../img/control_next.png) no-repeat 0px 0px;

    &:hover {
        border: 1px solid white;
        background: transparent url(../img/control_next.png) no-repeat -30px 0px;
    }
}
