.filter-list__item {
    border-right: 1px solid $light-grey;
    padding: 0 20px;

    &:last-child {
        border-right: none;
    }

    a, a:visited {
        color: $list-filter-link-colour;
    }
    a {
        font-size: rem(16px);
        letter-spacing: 3px;
        text-shadow: 1px 1px 2px #0D4242;

        &:hover {
            text-decoration: underline;
        }
    }

    &.active a {
        color: $list-filter-link-active-colour;
    }
}


$preview-height: 160px;
$preview-width: 478px;
.portfolio-list {

    .preview {
        display: block;
        height: $preview-height;
        width: $preview-width;
        margin: 0 auto;
    }

}
.portfolio-list__image {
    height: $preview-height;
    width: $preview-width;
    border: 1px solid $image-border-colour;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.3);
}