---
title: Blog
posts: ["README.md", "src/content/markdown.md"]
---

<h1>Blog</h1>

{{#withSort blog "data.posted"}}
    {{#each this.pages }}
        <article class="blog-post">
            <h2 class="blog-post__title">{{ this.data.title }}</h2>
            <h3 class="blog-post__date">{{ this.data.posted }}</h3>
            {{#markdown}}
                {{ this.page }}
            {{/markdown}}
        </article>
    {{/each}}
{{/withSort}}

{{!-- TODO: remove when done debugging/developing --}}
{{#each posts}}
    <article class="blog-post">
    {{md this}}
    </article>
{{/each}}
