---
title: Blog
posts: ["README.md", "src/content/markdown.md", "src/content/blog/hello-world.md"]
---

<h1>Blog</h1>

<ul>
    {{#each tags}}
        {{#is tag "blog"}}
            <h1>{{tag}}</h1>

            <ul>
            {{#withSort pages "data.posted"}}
                <li>{{data.title}}</li>
            {{/withSort}}
            </ul>
        {{/is}}
    {{/each}}
</ul>

{{#each posts}}
    <article class="blog__post">
    {{md this}}
    </article>
{{/each}}
