---
title: Work
heading: My Work
filters: [ "Sites", "Mobile", "Emailers", "Graphic Design" ]
---
<h1>{{ heading }}</h1>

<p>If you'd like to have a look at some code, look me up on <a href="{{social.github}}" title="Codepen">Github</a> or <a href="{{social.codepen}}" title="Codepen">Codepen</a>.</p>

<p>But otherwise, here's a portfolio of work I've done so far.</p>

{{> filters-list }}

<em class="info">
    <i class="info__icon"></i>
    <span class="info__text">Click on the image previews to see the full image</span>
</em>

{{> portfolio }}