// COLOUR PALETTES

// PRIMARY: 50 shades of coffee (sort of)
$black-coffee: #3f2108;
$dark-coffee: #794012;
$milky-coffee: #be864d;
$tea: saturate(lighten(#ceaa7a, 15%), 10%);
$milk: #fffae7;

// SECONDARY: 50 shades of sky blues (not really)
$dark-blue: #123456;
$blueprint-blue: #5588cc;
$creamy-blue: #3f85e2;
$greyish-blue: saturate(#afbac0, 20%);
$sky-blue: #c8e3ff;
$light-blue: lighten($greyish-blue, 10%);

// TERTIARY: the others
$greyish-white: #ebe8e8;
$light-grey: #9c9f9f;
$soft-grey: #5a5a5a;
$dark-grey: #393838;
$error-red: #ec2828;


// Backgrounds
$body-bg-colour: white;
$wrapper-bg-colour: $milk;
$header-bg-colour: #f7f2f8;
$mobile-header-bg-colour: $milky-coffee;
$nav-bg-colour: $dark-coffee;
$footer-bg-colour: $dark-grey;
$form-input-bg-colour: #f5d3a4;
$block-bg-colour: lighten($tea, 5%);
$codeblock-bg-colour: $dark-grey;
$error-bg-colour: #ffd8d8;


// Borders
$border-colour: lighten($milky-coffee, 10%);
$body-border-colour: #f5d3a4;
$wrapper-border-colour: #be864d;
$sidebar-border-colour: $tea;
$avatar-border-colour: $tea;
$nav-border-colour: #bebdbd;
$footer-border-colour: #595959;
$form-input-border-colour: $border-colour;
$image-border-colour: $light-grey;
$error-border-colour: #fd3d3d;

// Box Shadows
$image-box-shadow: rgba(0,0,0,0.3);


// Links
$link-colour: #75410d;
$link-hover-colour: #d38444;
$link-visited-colour: #b46c04;
$nav-link-colour: white;
$nav-link-hover-colour: lighten($milky-coffee, 15%);
$nav-link-active-colour: $milky-coffee;
$nav-link-visited-colour: $milky-coffee;
$blog-link-colour: $link-colour;
$blog-link-hover-colour: $greyish-blue;
$footer-link-colour: $milky-coffee;
$footer-link-visited-colour: #fff9e8;
$list-filter-link-colour: #009def;
$list-filter-link-active-colour: #00c57a;
$portfolio-link-colour: #0f6c8d;
$portfolio-link-hover-colour: #66cccc;


// Headings
$primary-heading-colour: $dark-blue;
$primary-heading-shadow-colour: $sky-blue;
$secondary-heading-colour: $primary-heading-colour;
$secondary-heading-shadow-colour: $primary-heading-shadow-colour;
$tertiary-heading-colour: $creamy-blue;
$tertiary-heading-shadow-colour: $dark-blue;

// Text
$body-text-colour: $dark-grey;
$tagline-text-colour: $dark-blue;
$definition-list-title-colour: $black-coffee;
$code-text-colour: #1cad1e;
$footer-text-colour: $greyish-white;
$error-text-colour: $error-red;
$success-text-colour: darken(#bad455, 10%);
