// COLOUR PALETTES

// PRIMARY: 50 shades of coffee (sort of)
$black-coffee: #3f2108;
$dark-coffee: #794012;
$milky-coffee: #be864d;
$tea: saturate(lighten(#ceaa7a, 15%), 10%);
$milk: #fffae7;

// SECONDARY: 50 shades of sky blues (not really)
$dark-blue: #123456;
$greyish-blue: saturate(#afbac0, 20%);
$sky-blue: #c8e3ff;
$light-blue: lighten($greyish-blue, 10%);

// TERTIARY: the whites
$greyish-white: #ebe8e8;


// Backgrounds
$body-bg-colour: white;
$wrapper-bg-colour: $milk;
$header-bg-colour: #f7f2f8;
$nav-bg-colour: $dark-coffee;
$footer-bg-colour: #393838;
$form-input-bg-colour: #f5d3a4;
$blockquote-bg-colour: lighten($tea, 5%);


// Borders
$border-colour: lighten($milky-coffee, 10%);
$body-border-colour: #f5d3a4;
$wrapper-border-colour: #be864d;
$sidebar-border-colour: $tea;
$nav-border-colour: #bebdbd;
$footer-border-colour: #595959;
$form-input-border-colour: $border-colour;
$blockquote-border-colour: $border-colour;


// Links
$link-colour: #75410d;
$link-hover-colour: #d38444;
$link-visited-colour: #b46c04;
$nav-link-colour: white;
$nav-link-hover-colour: lighten($milky-coffee, 15%);
$nav-link-active-colour: $milky-coffee;
$footer-link-colour: $milky-coffee;
$footer-link-visited-colour: #fff9e8;


// Headings
$primary-heading-colour: $dark-blue;
$primary-heading-shadow-colour: $sky-blue;

// Text
$body-text-colour: #393838;
$tagline-text-colour: $dark-blue;
$definition-list-title-colour: $black-coffee;
$footer-text-colour: $greyish-white;
