html, body {
    height: 100%;
}

body {
    background: $body-bg-colour;
    color: $body-text-colour;
    font-family: $helvetica;
    font-size: rem(17px);
    line-height: 1.5;
}

h1, h2 {
    text-shadow: 1px 2px $primary-heading-shadow-colour;
}
h1 {
    color: $primary-heading-colour;
    font-size: rem(26px);
}
h2 {
    color: saturate(lighten($primary-heading-colour, 10%), 20%);
    font-size: rem(22px);
}

ul {
    margin: 0;
}

a {
    text-decoration: none;
}


.left {
    float: left;
}

.right {
    float: right;
}


.wrapper {
    @include outer-container;
    background: $wrapper-bg-colour;
    min-height: 100%;

    @include media($desktop) {

        border: 1px solid $wrapper-border-colour;

    }
}
.wrapper--inner {
    @include fill-parent;
    @include display(flex);
    @include align-items(stretch);
}

.content {
    @include span-columns(12);
    @include omega;
    @include pad();
    min-height: 100%;
    border-right: 1px solid $sidebar-border-colour;

    @include media($tablet) {

        @include span-columns(8.5);

    }

    a {
        color: $link-colour;

        &:hover {
            color: $link-hover-colour;
        }

        &:visited {
            color: $link-visited-colour;
        }
    }
}


.list--no-bullets {
    @include clearfix;
    list-style: none;
    padding: 0;
}

.list__item {
    padding: em(10) em(20);
}
.list__item--horizontal {
    float: left;
}


.blockquote {
    background: $blockquote-bg-colour;
    padding: 0 em(15px);
}
.blockquote--bordered {
    border: 2px solid $blockquote-border-colour;
    border-radius: 8px;
}


.definition-list__title {
    color: $definition-list-title-colour;
    font-weight: bold;
}
