//  General Elements

html, body {
    height: 100%;
}

body {
    background: $body-bg-colour;
    color: $body-text-colour;
    font-family: $helvetica;
    font-size: rem(17px);
    line-height: 1.5;
}

h1, h2 {
    text-shadow: 1px 2px $primary-heading-shadow-colour;
}

h1 {
    color: $primary-heading-colour;
    font-size: rem(26px);
}

h2 {
    color: saturate(lighten($primary-heading-colour, 10%), 20%);
    font-size: rem(22px);
    padding-top: em(25px);
}

ul {
    margin: 0;
}

a {
    text-decoration: none;
}

blockquote {
    background: $block-bg-colour;
    padding: 0 em(15px);
    border: 2px solid $border-colour;
    border-radius: 8px;
}

pre {
    color: $code-text-colour;
    text-shadow: none;
    background: $codeblock-bg-colour;
    padding: em(15px) em(20px);
    border-radius: 5px;
}


.left {
    float: left;
}

.right {
    float: right;
}


.button {
    @include button(simple, $dark-coffee);
    margin: 25px 30px;
}


$icon-size: 18px;
.info {
    font-size: rem(14px);
    color: $light-grey;
    text-shadow: 1px 1px 1px $greyish-white;
    display: block;
    margin: em(15px) {
        bottom: em(20px);
    }
}
.info__icon {
    background: {
        image: url(../img/ic_info_outline_grey600_18dp.png);
        color: transparent;
        position: 50% 75%;
        size: $icon-size;
    }

    width: $icon-size;
    height: $icon-size;
    display: inline-block;
    margin-right: 8px;
}


.appstore-badge {
    width: 112px;
    height: auto;
    box-shadow: 1px 2px 3px $image-box-shadow;
    border: 1px solid $image-border-colour;
    border-radius: 5px;
}


.definition-list__title {
    color: $definition-list-title-colour;
    font-weight: bold;
}


.list--no-bullets {
    @include clearfix;
    list-style: none;
    padding: 0;
}

.list__item {
    padding: em(10) em(20);
}

@include media($tablet) {

    .list__item--horizontal {
        float: left;
    }

}



//  General (Overall) Layout

.wrapper {
    @include outer-container;
    background: $wrapper-bg-colour;
    min-height: 100%;
    text-shadow: 1px 1px #c9cdcd;

    @include media($desktop) {

        border: {
            left: 1px solid $wrapper-border-colour;
            right: 1px solid $wrapper-border-colour;
        }

    }
}
.wrapper--inner {
    @include fill-parent;
    @include display(flex);
    @include align-items(stretch);
}

.content {
    @include span-columns(12);
    @include omega;
    @include pad(12px);
    min-height: 100%;
    border-right: 1px solid $sidebar-border-colour;

    @include media($tablet) {

        @include span-columns(8.5);
        @include pad(1.5em);

    }

    a {
        color: $link-colour;

        &:hover {
            color: $link-hover-colour;
        }

        &:visited {
            color: $link-visited-colour;
        }
    }
}
