@import "bourbon";
@import "colours";


.footer {
    background: $footer-bg-colour;
    color: $footer-text-colour;
}

.site-info {
    font-size: rem(13px);
}
.site-info__item {
    padding: 0 10px;
}
.site-info__link {
    color: $footer-link-colour;

    &:hover {
        color: $footer-link-visited-colour;
    }
}
