@import "bourbon";
@import "neat";
@import "colours";

body {
    background: $body-bg-colour;
    color: $body-text-colour;
    font-family: $helvetica;
}

h1, h2 {
    text-shadow: 1px 2px $primary-heading-shadow-colour;
}
h1 {
    color: $primary-heading-colour;
}
h2 {
    color: saturate(lighten($primary-heading-colour, 10%), 20%);
}

a {
    text-decoration: none;
}


.left {
    float: left;
}

.right {
    float: right;
}


.wrapper {
    @include outer-container;
    background: $wrapper-bg-colour;
    border: 1px solid $wrapper-border-colour;
}

.container {
    @include clearfix;
}

.content {
    @include span-columns(8.5);
    padding: em(15px);
    border-right: 1px solid $sidebar-border-colour;

    a {
        color: $link-colour;

        &:hover {
            color: $link-hover-colour;
        }

        &:visited {
            color: $link-visited-colour;
        }
    }
}


.list--no-bullets {
    @include clearfix;
    list-style: none;
    padding: 0;
}

.list__item {
    padding: em(10) em(20);
}
.list__item--horizontal {
    float: left;
}
