.header {
    @include span-columns(12);
    @include omega;

    @include media($mobile) {
        background: $header-bg-colour url(../img/header.png) no-repeat;
        height: 258px;
    }

    h1 {
        margin: 0;
        display: none;

        @include media($mobile) {
            display: block;
        }
    }

    .sub-header {
        display: none;

        @include media($mobile) {
            @include clearfix;
            display: block;
        }
    }
}

.header--logo {
    @include hide-text;
    // background: url(../img/kopijunkie.png) no-repeat;
    // background-size: 350px 84px;
    height: 100px;
}

.header--tagline {
    background: white;
    opacity: 0.55;
    padding: 5px em(40px);
    margin-left: em(30px);
    color: $tagline-text-colour;
    font-size: rem(17px);
}
