@import "bourbon";
@import "colours";

.header {
    background: $header-bg-colour;
    @include background-image(linear-gradient(90deg, transparent 79px, #ffdae0 79px, transparent 80px, #ffdae0 81px, transparent 81px),
                                linear-gradient(#d5f2ed .1em, transparent .1em));
    background-size: 100% 1.2em;
    height: 235px;

    h1 {
        margin: 0;
    }
}

.header--logo {
    background: url(../img/kopijunkie.png) no-repeat;
    background-size: 350px 84px;
    height: 100px;
}

.header--tagline {
    background: white;
    opacity: 0.55;
    padding: 5px em(40px);
    margin-left: em(30px);
    color: $tagline-text-colour;
    font-size: rem(17px);
}
