@import "bourbon";
@import "colours";

.nav-menu {
    background: $nav-bg-colour;
}

.nav-menu__link {
    font-weight: bold;
    font-size: 1.25em;  /* 20px */
    line-height: 1.2em;
    letter-spacing: 5px;
    color: $nav-link-colour;
    text-shadow: 0 1px 1px black;

    &:hover {
        color: $nav-link-hover-colour;
    }

}
